@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.main {
  min-height: 100vh;
  padding-top: 50px;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  background: #3b82f600;
  position: absolute;
  width: 7px;
}

body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #53289d;
  border-radius: 50px;
  
}

.background{
  background: url("../assets/parede-de-concreto.jpg") no-repeat center center;
  background-size: cover;
}

.bricks {
  background: url("../assets/bg.jpg") no-repeat center center;
  background-size: cover;
}

.p {
  overflow-y: scroll;
}

.p::-webkit-scrollbar {
  background: #3b82f600;
  width: 5px;
}

.p::-webkit-scrollbar-button {
  display: none;
}

.p::-webkit-scrollbar-thumb {
  background-color: #53289d;
  border-radius: 50px;
  
}